* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: green;
  --button-color: green;
  --dark-color: green;
  --ligth-color: green;
}


#header_container {
  height: 4rem;
  background-color: aquamarine;
}

#nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings {
  margin-right: 20px;
} 

#dina_nyheter_container {
  display: flex;
  height: 120px;
  justify-content: flex-start;
  column-gap: 20px;
}

.dina_nyheter {
  border-radius: 8px;
  background-color: bisque;
  height: 120px;
  width: 250px;
  text-align: center;
  margin-left: 10px;
}

.dina_nyheter_text {
  padding-top: 15px;
}

.nyhet_main_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 800px;
  width: 100%;
  gap: 5vh;
}

.nyhet_container {
  background-color: bisque;
  height: 400px;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
  animation-duration: 10s;
  animation-name: transitionnews;
  animation-iteration-count: infinite;
  overflow: hidden;
}

#nyhet_text {
  animation-name: slidetext;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

nyhet_bild {
  border-radius: 8px;
  padding: 10px;
}

.nyhet_headline {
  padding: 8px;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.headline {
  padding: 8px;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slidetext {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

}

@keyframes transitionnews {
  25%   {background-color: blueviolet;}

  50%   {background-color: brown;}

  75%   {background-color: aqua;}

  100%  {background-color: aquamarine;} 
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13%;
  background-color: blueviolet;
  text-align: center;
}

#menu_bar_container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  height: 50px;
  width: 50px;
  column-gap: 50px;
  border-radius: 8px;
  background-color: blueviolet;
  cursor: pointer;
  border: none;
}

#menu_content {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  transition: 0.5s;
  overflow-y: hidden;
}

#menu_content .menu_item {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s;
}

#menu_options {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
}
