* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(247, 247, 247);
}

:root {
  --main-color: #012E40;
  --button-color: #011526;
  --dark-color: #011526;
  --ligth-color: #026773;
}

body {
  background-color: var(--main-color);
}

#header_container {
  height: 4rem;
  background-color: var(--dark-color);
}

#nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings {
  margin-right: 20px;
} 

#main_container {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
}

#dina_nyheter_container {
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: flex-start;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

#dina_nyheter_container::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.dina_nyheter {
  border-radius: 8px;
  height: 120px;
  width: 200px;
  text-align: center;
  margin-left: 10px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dina_nyheter_img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.dina_nyheter_text {
  padding-top: 15px;
}

.nyhet_main_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
  width: 100%;
}

.nyhet_container {
  height: 400px;
  width: 500px;
  border-radius: 10px;
  margin-inline-start: 40px;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
}

#nyhet_4 {
  margin-bottom: 23%;
}

.linje {
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
  background-color: grey;
}

.nyhet_headline {
  padding: 8px;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.nyhet_bild {
  border-radius: 8px;
  margin: 9px;
}

.headline {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13%;
  background-color: var(--dark-color);
  text-align: center;
}

#menu_bar_container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  height: 50px;
  width: 50px;
  column-gap: 50px;
  border-radius: 8px;
  object-fit: contain;
  cursor: pointer;
  border: none;
  background-color: var(--button-color);
}

#menu_content {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  transition: 0.5s;
  overflow-y: hidden;
}

#menu_content .menu_item {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s;
}

#menu_options {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
}

#searchbar {
  height: 50px;
  width: 100%;
  display: flex; 
  justify-content: flex-start;
}

#searchbar input[type=text] {
  padding: 6px;
  width: 100%;
  border: none;
  font-size: 1.5rem;
  border-radius: 2px;

}

#tillbaka {
  height: 100%;
  width: 60px;
}

.nav {
  background-color: var(--ligth-color);
}

#tillbaka_img {
  height: 100%;
  width: 100%;
}

#recent_searches {
  display: flex;
  flex-direction: column;
}

#search_headline {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: medium;
}

#list_searches {
  margin-left: 15px;
  list-style: none;
}

.list_item {
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  opacity: 50%;
}

::-webkit-scrollbar {
  width: 12.5px;
}

::-webkit-scrollbar-track {
  z-index: 1;
}

#total_value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  height: 200px;
  width: 400px;
  border: 1px solid rgba(59, 58, 58, 0,46);
  border-radius: 20px;
  box-shadow: -10px 5px 10px black;
  top: 0;
  transition: top ease 0.3s;
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 1rem;
}

#total_value:hover {
  top: -10px;
}

#konto_header {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

#main_wrapper_konto {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.ekonomi_lista_wrapper {
  width: 85%;
  border: 1px solid grey;
  box-shadow: 5px grey;
  border-radius: 2px;
  height: 100%;
}

#aktie_lista {
  margin-bottom: 30px;
}

#fond_lista {
  margin-bottom: 100px;
}

.ekonomi_lista {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ekonomi_item {
  width: 90%;
  height: 75px; 
  margin-bottom: 20px;
}

.list_item_konto {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  text-decoration-style: none;
}

.ekonomi_box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#percentage {
  color: green;
}

.ekonomi_box_item {
  margin-left: 30px;
}

.dropdown_time_select {
  position: absolute;
  margin-left: 300px;
  margin-top: 17px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  transition: ease 0.5s;
  background-color: #011526;
}

#dropdown_time_select_content {
  display: none;
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  align-self: flex-start;
  transition: ease 0.5s;
  z-index: 1;
  
}

.dropdown_time_select:hover #dropdown_time_select_content {
  display: block;
}

.time_lista {
  list-style: none;
}

.time_item {
  padding: 2px;
}

#trans_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.list_item_trans {
  list-style: none;
  margin-left: 50px;
}